zh-cn, zh-hans, zh, zh-tw, zh-hant, en:zh-hans, en.asr:zh-hans, en-gb:zh-hans, en-gb.asr:zh-hans, ja:zh-hans, ja.asr:zh-hans, ko:zh-hans, ko.asr:zh-hans, es:zh-hans, es.asr:zh-hans
en, en.asr, en-gb, en-gb.asr, ja, ja.asr, ko, ko.asr, es, es.asr

zh-hans, zh-hant, en

.caption-visual-line:first-child .ytp-caption-segment {
    font-size: 2.2em !important;
    font-family: Sarasa UI SC !important;
}
.caption-visual-line:last-child .ytp-caption-segment {
    font-size: 1.4em !important;
    font-family: Sarasa UI SC !important;
}